@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Base styles for dark/light variables if used, or just utility classes */
:root {
  --background: #ffffff;
  --foreground: #020617;
}

.dark {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
}


/* font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');